<!--<router-outlet></router-outlet>-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav">
      <li class="col-xs-3"><a href="#">Home</a></li>
      <li class="col-xs-3"><a href="#">Notification</a></li>
      <li class="col-xs-3"><a href="#">Trends</a></li>
      <li class="col-xs-3"><a href="#">Me</a></li>
    </ul>
  </div>
</nav>
<form class="navbar-form" role="search">
  <div class="form-group col-xs-3">
    <input type="text" class="form-control" placeholder="Find">
  </div>
</form>
